# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Output directories
output/

# Dataset directory (if using a specific directory)
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Logs
*.log
